<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>搜索页_{eyou:global name="web_name" /}</title>
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{eyou:global name='web_templets_m' /}/skin/css/subpage.css">
<script src="{eyou:global name='web_templets_m' /}/skin/js/jquery.js"></script>
<script src="{eyou:global name='web_templets_m' /}/skin/js/nav.js"></script>
<style>
.head {
	background: #fabd00
}
.foot {
	background: #4c4944
}
.nav {
	background: #4c4944
}
.nav_color {
	background: #4c4944
}
</style>
<script src="{eyou:global name='web_templets_m' /}/skin/js/search.js"></script>
<script src="{eyou:global name='web_templets_m' /}/skin/js/respond.js"></script>
<script src="{eyou:global name='web_templets_m' /}/skin/jquery.validator.js"></script>
</head>
<body>
<!--导航开始--> 
{eyou:include file="/template/mobile/header.htm" /} 
<!--导航结束--> 
<!--内容开始-->
<div class="allpage">
  <div class="black-fixed iconfont">&#xe60f;</div>
  <!--页头开始-->
  <div class="header">
    <div class="head"> <a href="{eyou:global name='web_cmsurl' /}/" title="首页" class="home-btn commonfont">&#xe608;</a>
      <p class="top-title">搜索页</p>
      {eyou:notempty name="$eyou.field.has_children"}
      <div class="class-btn"><span class="commonfont">&#xe60a;</span>分类</div>
      {/eyou:notempty}
      <div class="nav-btn commonfont">&#xe60b;</div>
    </div>
    <div class="type">
      <h1>栏目分类：</h1>
      <ul>
        {eyou:channel type="sonself"}
        <li><a href="{$field.typeurl}">{$field.typename}</a><span class="commonfont class-down">&#xe60c;</span></li>
        {/eyou:channel}
      </ul>
    </div>
  </div>
  <!--页头结束--> 
  <!--文章列表开始-->
  <div class="content">
    <ul class="list-loop common_news" id="contentArea">
      {eyou:list pagesize="10" titlelen="30"}
      <li class="loop news1"><a href="{$field.arcurl}" title="{$field.title}"><span >{$field.title}</span><span>{$field.add_time|MyDate='Y/m/d',###}</span></a></li>
      {/eyou:list}
    </ul>
    <div class="pglist">{eyou:pagelist listitem="index,end,pre,next" listsize="2"/}</div>
  </div>
  <!--文章列表结束--> 
  
  {eyou:include file="/template/mobile/footer.htm" /} </div>
<!--内容结束-->
</body>
</html>